.chat-box .chat-desc ul, .pd-ltr-20 {
    padding: 0 20px 0;
}

.kepala p.msg {
    margin: 0 0 10px !important;
}

ul.chat {
    list-style: none;
    margin-top: 15px;
    height: 405px;
    overflow: auto;
}

#chating .chat li { 
    margin: 15px 0;
}

#chating .chat li img {
    width: 45px;
    height: 45px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
}

#chating .chat li.left .chat-body {
    margin-left: 60px;
    margin-right: 50px;
    background-color: #f4f1f1;
    box-shadow: 0 0 9px rgba(0,0,0,.08);
}

#chating .chat li .chat-body {
    position: relative;
    padding: 10px;
    border: 1px solid #f1f5fc;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#chating .chat li.left .chat-body:before {
    position: absolute;
    top: 10px;
    left: -8px;
    display: inline-block;
    background: #f4f1f1;
    width: 16px;
    height: 16px;
    border-top: 1px solid #f1f5fc;
    border-left: 1px solid #f1f5fc;
    content: '';
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

#chating .chat li .chat-body .kepala {
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(155, 155, 155);
}

#chating .primary-font {
    color: #1b00ff;
}

#chating #main .msg {
    color: #898989;
}

.profile-info {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 0px !important;
}

.profile-setting ul li span {
    display: block;
    font-size: 14px;
    color: #1b00ff;
    font-weight: 500;
    padding-bottom: 0px;
}

.profile-setting ul li {
    margin-bottom: 15px;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.profile-tab .nav-tabs.customtab .nav-link {
    padding: 9px 20px !important;
}

.btn.btn-success.no-rounded {
    padding: 9px 8px;
}



/* Responsive */
/* max 320 */
@media (max-width: 320px) {
    #chating .chat li.left .chat-body {
        margin-right: 0px;
        margin-left: 10px;
    }
    .chat-body p.msg {
        font-size: 14px;
    }

    .form-control {
        margin-top: 10px;
        height: 35px;
    }

    .btn.btn-success.no-rounded {
        padding: 5px 6px;
        margin-top: 10px;
    }
}

/* mmin 321px | max 425px */
@media (min-width: 321px) and (max-width: 425px) {
    #chating .chat li.left .chat-body {
        margin-right: 0px;
        margin-left: 10px;
    }
    .chat-body p.msg {
        font-size: 14px;
    }
}

/* small (bootstrap) */
/* mmin 426px | max 575px */
@media (min-width: 426px) and (max-width: 575px) {
    #chating .chat li.left .chat-body {
        margin-right: 0px;
        margin-left: 10px;
    }
    .chat-body p.msg {
        font-size: 14px;
    }
}
