/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 769px) and (max-width: 991px) {


}

/* Large Mobile :480px. */
@media only screen and (min-width: 425px) and (max-width: 768px) {
    /* .container {width:450px} */
    
}

/* Small - Medium Mobile */
@media only screen and (min-width: 321px) and (max-width: 425px) {
    .text--logo {
        margin-top: 20px;
    }   
    .blog-pagination .page-link {
        font-size: 12px;
        line-height: 33px;
        width: 33px;
        height: 33px;
    }
}

/* small mobile :320px. */
@media (max-width: 320px) {
    .text--logo {
        margin-top: 20px;
    } 
    .blog-pagination .page-link {
        font-size: 12px;
        line-height: 33px;
        width: 33px;
        height: 33px;
    }  
}